# Data Science Tools and Ecosystem

## In this notebook, Data Science Tools and Ecosystem are summarized

### Some of the popular languages that Data Scientists use are:
* R
* Python
* C++
* Julia
* Scala

### Some of the commonly used libraries used by Data Scientists include:
1. Scipy
2. Pandas
3. Numpy
4. Keras
5. Sklearn
6. Matplotlib

|Data Science Tools|
|:----------------:| 
|RStudio|
|Apache Spark|
|TensorFlow|
|Apache Hadoop|

#### Below are a few examples of evaluating arithmetic expressions in Python
* Addition 2+3
* Subtration 6-2
* Multiplication 3*6
* Division 45/9

In [1]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [4]:
# This will convert 200 minutes to hours by diving by 60
minutes = 200
hours = minutes/60
print(hours)

3.3333333333333335

### Objectives:
* popular languages for Data Science
* Data Science Tools
* Commonly used libraries used by Data Scientists
* Data Science Ecosystems

## Author
Muhammad usman ali